
.gpu_icon{
	margin-right: 0px;
	padding-right: 0px;
	text-align: right;
}

.indic_back{
	border: solid #424242 1px;
	border-radius: 2px;
	/*background-color: black;*/
	/*box-shadow: 1px -1px .5px #424242;*/
}

.indic_load{
	background-color: #0000AA;
}
.indic_mem{
	background-color: orange;
}